@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.rotating-gradient {
    background: linear-gradient(
        90deg,
        #ffffff,
        #d5d3ff,
        #ffd7ff,
        #ffffff,
        #d5d3ff,
        #ffd7ff
    );
    background-size: 500% 500%;
    animation: rotate-gradient 25s ease infinite;
}