@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-primary: var(--font-inter);
  --font-secondary: var(--font-jakarta);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary), system-ui, sans-serif;
}

@keyframes rotate-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.rotating-gradient {
    background: linear-gradient(
        90deg,
        #ffffff,
        #d5d3ff,
        #ffd7ff,
        
        #ffd7ff,
        #d5d3ff,
        #ffffff
    );
    background-size: 400% 400%;
    animation: rotate-gradient 15s ease infinite;
}